html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h2,
h3,
p,
h1,
a,
b,
ul,
div {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 100%;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }

:root {
    --font-family: 'Poppins', sans-serif;
    --font-counter: 'Roboto', sans-serif;
    --btn-font: 'Fugaz One', cursive;
    --blur-effect: blur(16px);
    --shadow-normal: drop-shadow(0px 0px 2px rgba(80, 155, 245, 0.56));

    --background-color: rgba(30, 50, 100, 0.72);
    ;
    --notification-bgr-color:  #18274C;
    --pop-up-window-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    --accent-color: rgba(80, 155, 245, 1);
    --border-avatar-color: #1E3264;
    --pop-inf-color: rgba(24,39,76, 0.99);

    --btn-font-color: #fff;
    --chat-second-color: rgba(80, 155, 245, 1);
    --dropdown-btn-font-color: rgba(177,202,231,1);

    --stroke-color: rgba(255, 255, 255, 1);
    --stroke-hover-color: rgba(255, 253, 254, 0.56);
    --fill-color: rgba(255, 255, 255, 1);
    --fill-hover-color: rgba(255, 6, 154);
    --btn-hover-color: rgba(240, 55, 165, 1);
    --hover-icon-shadow: drop-shadow(0 0 8px rgba(255, 6, 154));
    --btn-cecondary-color: #FF6437;
    --drop-shadow-primary-btn: drop-shadow(0px 1px 1px 0px rgba(17, 94, 187, 0.32));
    --drop-shadow-hover-btn: drop-shadow(0px 2px 1px 0px rgba(142, 24, 94, 0.64));
    --drop-shadow-active-btn: drop-shadow(0px 2px 1px 0px rgba(142, 24, 94, 0.64));
    --drop-shadow-disabled-btn: drop-shadow(0px 2px 1px 0px rgba(80, 80, 80, 0.64));

    --disabled-color: rgba(105, 135, 172, 1);
    --disabled-font-color: rgba(177, 202, 231, 1);

    --active-color: rgba(216, 35, 142, 1);


    --drop-shadow-second-btn: drop-shadow(0px 1px 1px 0px rgba(185, 140, 25, 0.32));
    --drop-shadow-icon: drop-shadow(0px 0px 2px  rgba(80, 155, 245, 0.56));
}

.body {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: var(--btn-font-color);
    background: no-repeat url(./images/mask_group3-375.jpg);
    background-size: cover;
}

.container {
    min-width: 709px;
    max-width: 780px;
    position: absolute;
    top: 100%;
    left: 50%;

    transform: translate(-50%, -50%);

}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-color);
    /* backdrop-filter: var(--blur-effect); */

    border-radius: 24px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.container__options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc((100%)/ 2.5);
    padding-right: 10px;
}

/* .wrapper__options--smile {
    position: relative;
} */
.pop-up-window {
    background-color: var(--background-color);
    /* backdrop-filter: var(--blur-effect); */
    opacity: 0.99;

    /* color: var(--btn-font-color); */
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 24px;
}

.wrapper__pop-up-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-info {
    background-color: var(--pop-inf-color);
    border: 1px solid var(--pop-inf-color);
    border-radius: 24px 24px 0 0;


    padding: 15px 29px;
    font-size: 15px;
    white-space: pre-line;
    word-wrap: break-word;
    line-height: 1.4;
    min-width: 270px;
    max-width: 600px;
    min-height: 40px;
}

.container__smile {
    position: absolute;
    bottom: 115%;
    right: 30%;
    min-width: 240px;
    min-height: 155px;

    font-family: var(--btn-font);
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    /* text-align: center; */
    padding-top: 30px;
    padding-left: 30px;

}

.control-pannel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc((100%) / 4);
    border-left: 1px solid #8095C9;
    /* transform: rotate(90deg); */
    padding-left: 7px;
}

.container__notification {
    padding: 2px;
    padding-left: 10px;
    color: white;
    text-align: center;

    width: calc((100%) / 2);
}

.notification__status {
    background-color: var(--notification-bgr-color);
    border-radius: 16px;
    padding: 16px;
    padding-left: 80px;
    /* font-size: 15px; */
    line-height: 1.1;
    text-align: start;
}

.avatar-icon {
    background-image: url(./images/avatar.png);
    border: 2px solid var(--accent-color);
    border-radius: 36px;

    width: 83px;
    height: 83px;
    box-shadow: 0px 0px 2px rgba(92, 41, 66, 0.56), 0px 0px 8px rgba(80, 155, 245, 0.51);
}

.avatar-icon:hover, .avatar-icon:focus {
    border: 2px solid var(--btn-font-color);
    border-radius: 36px;
    box-shadow: 0px 0px 16px rgba(255,98,191,1), 0px 0px 2px #FF62BF;
    filter: blur(var(--blur-effect));
}

.main-pannel-icon {
    position: absolute;
    left: -12px;
    /* top: -10px; */
    z-index: 2;
}

.icon {
    /* fill: var(--fill-color);
    stroke-width: 1px;
    stroke: var(--stroke-color);
    filter: var(--drop-shadow-icon); */

    background-image: url('./images/css_sprites.png');
}

.icon__options {
    width: 24px;
    height: 24px;
}

.icon:hover, .icon:focus  {
    width: 24px;
    height: 24px;

}

.iconmidi {
    width: 18px;
    height: 18px;
}

.is-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.notification__btn-container {
    margin-left: 65px;
    padding-right: 5px;
    min-width: 180px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.btn {
    font-family: var(--btn-font);
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.9;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 16px;
    color: var(--btn-font-color);
    outline: none;
}

 .notification__btn-container button + button {
    margin-left: 10px;
}

.primary-btn {
    background-color: var(--accent-color);
    min-width: 164px;
    filter: var(--drop-shadow-primary-btn);
}

.btn:hover {
    filter: var(--drop-shadow-hover-btn);
    background-color: var(--btn-hover-color);
    outline: none;
}

.btn:active {
    filter: var(--drop-shadow-active-btn);
    background-color: var(--active-color);
    outline: none;
}

.btn:disabled {
    filter: var(--drop-shadow-disabled-btn);
    background-color: var(--disabled-color);
    color: var(--disabled-font-color);
    outline: none;
}

.secondary-btn {
    background-color: var(--btn-cecondary-color);
    filter: var(--drop-shadow-second-btn);
    min-width: 100px;
}

.got-container__mail {
    position: relative;
}

.got-container__notify {
    position: relative;
}

/* .notify__table::after {
    content: "";
    clear: both;
    display: table;
} */
.wrapper__pop-up-window {
    position: absolute;
    z-index: 4;
}

.notify__table {
    bottom: 205%;
    right: -900%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 14px;
    min-width: 480px;
    min-height: 200px;

    line-height: 1.1;
}

.notify__title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.notify__table--title {
    font-family: var(--btn-font);
    font-size: 14px;
    letter-spacing: 0.06em;
}

.notify__inbox--string {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 16px;
}

.notify__table--accept, .notify__table--counter {
    color: var(--chat-second-color);
    letter-spacing: 0.05em;
}

.notify__table--text {
    text-transform: capitalize;
}

.wrapper__notify__table--icon {
    background: radial-gradient(63.8% 100% at 32.81% 0%, #2D3E6A 0%, #27365B 100%);

    box-shadow: 0px 0px 2px rgba(30,38,60,1);

    border: 1px solid transparent;
    border-radius: 16px;
    padding: 14px;
    text-align: center;
}

/* .notify__table--icon--sub {background: #1E263C;
mix-blend-mode: overlay;
filter: blur(16px);
border-radius: 12px;
} */

.notify__table--icon {
    background: -142px -10px url('./images/css_sprites.png');
    filter: blur(var(--blur-effect));
}

.notify__user-inbox {
    margin-left: 11px;
}

.notify__table--info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.counter {
    background-color: var(--btn-hover-color);
    color: var(--btn-font-color);
    font-family: var(--font-counter);
    font-size: 9px;
    line-height: 1.15;
    letter-spacing: -0.03em;
    text-align: center;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 2;
    left: 65%;
    bottom: 65%;

}

.settings__table {
    bottom: 115%;
    right: 0%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    min-width: 320px;
    min-height: 480px;

    line-height: 1.5;
}

.button-layer {
    /* box-shadow: -4px 18px 24px #18274C, 30px -16px 24px #18274C;  */
    box-shadow: 0px 10px 13px -7px #18274C, 0px 6px 24px 0px rgba(24,39,76,0.56);
    border-radius: 16px;
    width: 232px;
    height: 39px;
}

.settings__box-title {
    margin-bottom: 8px;
}

.settings__table-title {
    font-family: var(--btn-font);
    font-size: 16px;
    letter-spacing: 0.03em;
    margin-bottom: 24px;
}

.settings__change-avatar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__user-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.settings__text-user-data {
    margin-left: 8px;
}

.settings__block {
    margin-top: 16px;
}

.dropdown-btn {
    background: radial-gradient(63.8% 100% at 32.81% 0%, #2D3E6A 0%, rgba(41,57,97,1) 100%);
    color: var(--dropdown-btn-font-color);
    letter-spacing: 1.1;

    border: 1px solid rgba(41,57,97,1);
    border-radius: 16px;

    width: 256px;
    height: 40px;
    outline: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 24px;
}

.settings__change-avatar-box {
    text-transform: capitalize;
}

.settings__change-avatar {
    text-transform: uppercase;
    color: var(--chat-second-color);
    line-height: 1.1;
    letter-spacing: 0.05;
}

.settings__box-title {
    color: rgba(177,202,231,1);
    text-transform: capitalize;
}

.settings__volume-level--title {
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.1;
    letter-spacing: -0.01em;
}

.settings__volume-level {
    margin-top: 30px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-block__border {
    border-bottom: 1px solid #2C3744;
    mix-blend-mode: screen;
    margin-top: 16px;
}

.volume-pop-up-window--wrapper {
    min-width: 170px;
    min-height: 113px;
    padding: 24px;
    position: absolute;
    bottom: 115%;
    left: 75%;
    z-index: 4;
}

.icon__smile{
    background-position: -230px -54px;
    margin-right: 3px;
}

.icon__smile:hover, .icon__smile:focus {
    background-position: -230px -98px;
}

.icon__mic {
    background-position: -54px -142px;
}

.icon__mic:hover, .icon__mic:focus {
    background-position: -142px -142px;
}

.icon__mic-off {
    background-position: -10px -142px;
}

.icon__mic-off:hover, .icon__mic-off:focus {
    background-position: -98px -142px;
}

.icon__adduser {
    background-position: -10px -10px;
}

.icon__adduser:hover, .icon__adduser:focus {
    background-position: -54px -10px;
}

.icon__video{
    background-position: -54px -230px;
}

.icon__video:hover, .icon__video:focus {
    background-position: -142px -230px;
}

.icon__video-off {
    background-position: -10px -230px;
}

.icon__video-off:hover, .icon__video-off:focus {
    background-position: -98px -230px;
}

.icon__mail {
    background-position: -142px -10px;
}

.icon__mail:hover, .icon__mail:focus {
    background-position: -142px -98px;
}

.icon__mail-count {
    background-position: -98px -98px;
}

.icon__mail-count:hover, .icon__mail-count:focus {
    background-position: -142px -54px;
}

.icon__notify {
    background-position: -186px -54px;
}

.icon__notify:hover, .icon__notify:focus {
    background-position: -186px -42px;
}

.icon__notify-count {
    background-position: -186px -10px;
}

.icon__notify-count:hover, .icon__notify-count:focus {
    background-position: -186px -98px;
}

.icon__camera {
    background-position: -10px -98px;
}

.icon__camera:hover, .icon__camera:focus {
    background-position: -54px -98px;
}

.icon__volume {
    background-position: -186px -230px;
}

.icon__volume:hover, .icon__volume:focus {
    background-position: -230px -230px;
}

.icon__settings {
    background-position: -186px -186px;
}

.icon__settings:hover, .icon__settings:focus {
    background-position: -230px -10px;
}

.icon__question {
    background-position: -10px -186px;
}

.icon__question:hover, .icon__question:focus {
    background-position: -54px -186px;
}

.icon__arrowdown {
    background-position: -10px -54px;
}

.icon__arrowdown:hover, .icon__arrowdown:focus {
    background-position: -54px -54px;
}

.icon__attach {
    background-position: -98px -10px;
}

.icon__attach:hover, .icon__attach:focus {
    background-position: -98px -54px;
}

.icon__close {
    background-position: -274px -10px;
    /* 18px */
}

.icon__close:hover, .icon__close:focus {
    background-position: -274px -48px;
    /* 18px */
}

.icon__closemini {
    background-position: -198px -274px;
    width: 8px;
    height: 8px;
}

.icon__closemini:hover, .icon__closemini:focus {
    background-position: -226px -274px;
    width: 8px;
    height: 8px;
}

.icon__edit {
    background-position: -274px -86px;
    /* 18px */
}

.icon__edit:hover, .icon__edit:focus {
    background-position: -274px -124px;
    /* 18px */
}

.icon__infocircle {
    background-position: -274px -162px;
    /* 18px */
}

.icon__infocircle:hover, .icon__infocircle:focus {
    background-position: 0 0;
    /* 18px */
}

.icon__ok {
    background-position: -274px -200px;
    /* 18px */
}

.icon__ok:hover, .icon__ok:focus {
    background-position: -10px -274px;
    /* 18px */
}

.icon__rangecircle {
    background-position: -274px -238px;
    width: 16px;
    height: 16px;
}

.icon__rangecircle--active {
    background-position: -162px -274px;
    width: 16px;
    height: 16px;
}

.icon__reply {
    background-position: -48px -274px;
    /* 18px */
}

.icon__reply:hover, .icon__reply:focus {
    background-position: -86px -274px;
    /* 18px */
}

.icon__send {
    background-position: -98px -186px;
    /* 24px */
}

.icon__send:hover, .icon__send:focus {
    background-position: -142px -186px;
    /* 24px */
}

.icon__star {
    background-position: -124px -274px;
    /* 18px */
}

.icon__user {
    background-position: -230px -142px;
    /* 24px */
}

.icon__user:hover, .icon__user:focus {
    background-position: -230px -186px;
    /* 24px */
}
